{% if content is defined %}
    {% set content_collection_data_set = get_content_collection_data_set( content, location ) %}
    {% if content_collection_data_set %}
        <div class="card border-light my-4">
            <div class="card-body">
                <button class="btn btn-outline-dark mb-2" type="button" data-toggle="collapse"
                        data-target="#collapseContentInfo"
                        aria-expanded="true" aria-controls="collapseContentInfo">
                    {{ 'quick.info'|trans()|desc('Quick Info') }}
                </button>

                <div class="collapse show" id="collapseContentInfo">
                    <div class="mb-2">
                        <div class="ez-fieldgroup__name">{{ 'content.info'|trans()|desc('Content Info') }}</div>

                        <a class="badge badge-pill" href="#"><strong>{{ 'tab.name.versions'|trans()|desc('Version') }}
                                : </strong>{{ content_collection_data_set.content.versionInfo.versionNo }}</a>
                        <a class="badge badge-pill"
                           href="#"><strong>{{ 'tab.details.location_id'|trans()|desc('Section') }}
                                : </strong>{{ content_collection_data_set.section.name }}</a>
                        <a class="badge badge-pill" href="#"><strong>{{ 'location.priority'|trans()|desc('Priority') }}
                                : </strong>{{ location.priority }}</a>
                        <a class="badge badge-pill" href="#"><strong>{{ 'location.depth'|trans()|desc('Depth') }}
                                : </strong>{{ location.depth }}</a>
                        <a class="badge badge-pill"
                           href="#"><strong>{{ 'contenttype.isbookmarked'|trans()|desc('Is Bookmarked') }}: </strong>
                            {% if location_is_bookmarked %}
                                {{ 'yes'|trans()|desc('Yes') }}
                            {% else %}
                                {{ 'no'|trans()|desc('No') }}
                            {% endif %}
                        </a>
                        <a class="badge badge-pill"
                           href="#"><strong>{{ 'contenttype.subitems'|trans()|desc('SubItems') }}: </strong>
                            {% if content_collection_data_set.locationChildrenTotalCount %}
                                {{ content_collection_data_set.locationChildrenTotalCount }}
                            {% else %}
                                0
                            {% endif %}
                        </a>

                        {#Relations#}
                        {% if content_collection_data_set.relations|length > 0 %}
                            {% set view_target = 'relations' %}
                            <a class="badge badge-info btn-modal-launcher" data-toggle="modal"
                               data-target="#view-{{ view_target }}-data-set" href="#"
                               aria-controls="ez-tab-location-view-relations"
                               aria-expanded="">{{ 'content.has.relations'|trans()|desc('Content has relations') }}</a>
                            {% include '@ezdesign/parts/modal/modal_dataset_relations.html.twig' with {
                                relations: content_collection_data_set.relations,
                                contentTypes: content_collection_data_set.contentTypes,
                                headerText: 'tab.relations.related_content'|trans({'%contentName%' : ez_content_name(content)})|desc('Related content (content items used by %contentName%)'),
                                view_target: view_target
                            } %}
                        {% endif %}
                        {% if content_collection_data_set.reverse_relations|length > 0 %}
                            {% set view_target = 'relations_reverse' %}
                            <a class="badge badge-danger btn-modal-launcher" data-toggle="modal"
                               data-target="#view-{{ view_target }}-data-set" href="#"
                               aria-controls="ez-tab-location-view-relations"
                               aria-expanded="">{{ 'content.has.inverse.relations'|trans()|desc('Content has inverse relations') }}</a>
                            {% include '@ezdesign/parts/modal/modal_dataset_relations.html.twig' with {
                                relations: content_collection_data_set.reverse_relations,
                                contentTypes: content_collection_data_set.contentTypes,
                                headerText: 'tab.relations.reverse_relations'|trans({'%contentName%' : ez_content_name(content)})|desc('Reverse relations (content items using %contentName%)'),
                                view_target: view_target
                            } %}
                        {% endif %}

                        {#Creator#}
                        <div>
                            <strong>{{ 'tab.details.creator'|trans()|desc('Creator') }}</strong>
                            <small>
                                {% if content_collection_data_set.creator is not empty %}
                                    {{ ez_content_name(content_collection_data_set.creator) }}
                                {% else %}
                                    {{ 'tab.details.creator.not_found'|trans|desc('Can’t fetch creator') }}
                                {% endif %}
                                ({{ content_collection_data_set.content.contentInfo.publishedDate|ez_full_datetime }})
                            </small>
                        </div>
                        {#Last Contributor#}
                        <div>
                            <strong>{{ 'tab.details.last_contributor'|trans()|desc('Last contributor') }}</strong>
                            <small>
                                {% if content_collection_data_set.lastContributor is not empty %}
                                    {{ ez_content_name(content_collection_data_set.lastContributor) }}
                                {% else %}
                                    {{ 'tab.details.last_contributor.not_found'|trans|desc('Can’t fetch last contributor') }}
                                {% endif %}
                                ({{ content_collection_data_set.content.versionInfo.modificationDate|ez_full_datetime }}
                                )
                            </small>
                        </div>
                        {# translations#}
                        {% if content_collection_data_set.translations is defined %}
                            <div>
                                <strong>{{ 'tab.name.translations'|trans()|desc('Translations') }}</strong>
                                {% for translation in content_collection_data_set.translations %}
                                    <a class="badge badge-{% if translation.main %}dark{% else %}light{% endif %}"
                                       href="#">{{ translation.name }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {#object states#}
                        <div>
                            <strong>{{ 'tab.details.state_name'|trans()|desc('Current object state') }}</strong>
                            {% for objectState in content_collection_data_set.objectStates %}
                                <a class="badge badge-dark" href="#">{{ objectState.name }}</a>
                            {% endfor %}
                        </div>

                        {#Visibility#}
                        <div>
                            <strong>{{ 'tech.info.content.visibility'|trans()|desc('Visibility') }}</strong>
                            {% if location.explicitlyHidden %}
                                <a class="badge badge-dark"
                                   href="#">{{ 'tech.info.location.hidden'|trans()|desc('Location is hidden') }}</a>
                            {% endif %}
                            {% if content_collection_data_set.content.versionInfo.contentInfo.isHidden %}
                                <a class="badge badge-dark"
                                   href="#">{{ 'tech.info.location.hidden.content'|trans()|desc('content is hidden') }}</a>
                            {% endif %}
                            {% if not location.explicitlyHidden and not location.hidden and location.invisible %}
                                <a class="badge badge-dark"
                                   href="#">{{ 'tech.info.location.hidden.parent'|trans()|desc('Location is hidden by parent') }}</a>
                            {% endif %}
                            {% if not location.explicitlyHidden and not location.invisible and not location.hidden %}
                                <a class="badge badge-dark"
                                   href="#">{{ 'tech.info.location.visible'|trans()|desc('visible') }}</a>
                            {% endif %}
                        </div>

                    </div>
                    {#Location Infos#}
                    <div class="mb-2">
                        <div class="ez-fieldgroup__name">{{ 'location.info'|trans()|desc('Location Info') }}</div>
                        <a class="badge badge-pill"
                           href="#"><strong>{{ 'tab.details.content_id'|trans()|desc('Content ID') }}
                                : </strong>{{ content_collection_data_set.content.contentInfo.id }}</a>
                        <a class="badge badge-pill"
                           href="#"><strong>{{ 'tab.details.location_id'|trans()|desc('Location ID') }}
                                : </strong>{{ location.id }}</a>

                        {#Location Path#}
                        <div>
                            <strong>{{ 'location.path'|trans()|desc('Location path') }}</strong>
                            {% for path in location.path %}
                                {% if false == loop.first %}
                                    <a class="badge badge-light"
                                       href="{{ path('_ezpublishLocation', { 'locationId': path }) }}">{{ path }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    {#ContentType Info#}
                    <div class="mb-2">
                        <div class="ez-fieldgroup__name">{{ 'contenttype.info'|trans()|desc('ContentType Info') }}</div>

                        {#ContentType Definition#}
                        <a class="badge badge-pill" href="#"><strong>{{ 'contenttype.id'|trans()|desc('Id') }}
                                : </strong>{{ content_collection_data_set.content.contentType.id }}</a>
                        <a class="badge badge-pill"
                           href="#"><strong>{{ 'contenttype.identifier'|trans()|desc('Identifier') }}
                                : </strong>{{ content_collection_data_set.content.contentType.identifier }}</a>
                        <a class="badge badge-pill"
                           href="#"><strong>{{ 'contenttype.iscontainer'|trans()|desc('Container') }}: </strong>
                            {% if content_collection_data_set.content.contentType.isContainer %}
                                {{ 'yes'|trans()|desc('Yes') }}
                            {% else %}
                                {{ 'no'|trans()|desc('No') }}
                            {% endif %}
                        </a>
                        <a class="badge badge-pill"
                           href="#"><strong>{{ 'contenttype.nameschema'|trans()|desc('Name Schema') }}
                                : </strong>{{ content_collection_data_set.content.contentType.nameSchema }}</a>

                        <a class="badge badge-pill"
                           href="#"><strong>{{ 'contenttype.urlAliasSchema'|trans()|desc('urlAliasSchema') }}: </strong>
                            {% if content_collection_data_set.content.contentType.urlAliasSchema %}
                                {{ content_collection_data_set.content.contentType.urlAliasSchema }}
                            {% else %}
                                {{ 'contenttype.urlAliasSchema.notdefinied'|trans()|desc('Not defined') }}
                            {% endif %}
                        </a>
                        <a class="badge badge-pill"
                           href="#"><strong>{{ 'contenttype.always.available'|trans()|desc('Always Available') }}
                                : </strong>
                            {% if content_collection_data_set.content.contentType.defaultAlwaysAvailable %}
                                {{ 'yes'|trans()|desc('Yes') }}
                            {% else %}
                                {{ 'no'|trans()|desc('No') }}
                            {% endif %}
                        </a>

                        {# ContentType translations#}
                        <div>
                            <strong>{{ 'contenttype.translations'|trans()|desc('Translations') }}</strong>
                            {% for contentType_lang in content_collection_data_set.content.contentType.languageCodes %}
                                <a class="badge badge-{% if contentType_lang == content_collection_data_set.content.contentType.mainLanguageCode %}dark{% else %}light{% endif %}"
                                   href="#">{{ contentType_lang }}</a>
                            {% endfor %}
                        </div>

                        {#ContentType Fields#}
                        <div>
                            <strong>{{ 'tech.info.contentType.fields'|trans()|desc('Fields') }}*</strong>
                            {% for field in content_collection_data_set.content.contentType.fieldDefinitions %}
                                <a class="badge badge-light"
                                   href="#">{{ field.position }}:{{ field.identifier }} ({{ field.fieldGroup }}
                                    )({{ field.fieldTypeIdentifier }}
                                    ){% if field.isRequired %}(R){% endif %}{% if field.isTranslatable %}(T){% endif %}{% if field.isSearchable %}(S){% endif %}</a>
                            {% endfor %}
                        </div>
                        <div>
                            *
                            <small><i>Position:identifier(fieldGroup) (<strong>R</strong>equired)(<strong>T</strong>ranslatable)
                                    (<strong>S</strong>earcheable)</i></small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}